.loader {
  position: relative;
  opacity: 0.2;
  .img {
    width: 70%;
    height: 80%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 11000;
  }
}
